body {
    width: 50%;
    max-width: 1200px;
    min-width: 800px;
}

#myPage {
    margin: auto;
}

#text {
    font-family: Helvetica;
}

h1 {
    padding-top: 50px;
}

h2 {
    color: red;
}

article {
    padding-bottom: 20px;
    padding-top: 20px;
}

#paragraphs {
    padding-bottom: 10px;
    padding-top: 10px;
}

#photo {
    display: block;
    margin: auto;
    padding: 40px;
}

a {
    font-family: Helvetica;
    text-decoration: none;
    color: #333333;
}

h3 {
    margin-bottom: 5px;
}

#validators {
    text-align: center;
    padding-bottom: 20px;
}

